* {
  margin: 0;
  padding: 0;
  font: 15px "Helvetica Neue";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #2a3644;
}
form > h1 {
  font-size: 3em;
  margin-bottom: 30px;
  font-weight: 100;
  color: #cdcdcd;
  text-shadow: 1px 1px 0px #ffffff;
  letter-spacing: 1px;
}
form {
  text-align: center;
  margin: 50px auto;
  width: 500px;
  background: #eef0f3;
  padding: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
form > input {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 0;
  background: #ffffff;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
form > input:focus {
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f4f4f4;
  color: #111;
}
form > button {
  width: 100%;
  border: 0;
  margin-top: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #2296cf;
  padding: 15px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 300;
}
form > button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}
form > h3 {
  position: relative;
  background: #e4e4e4;
  z-index: 3;
  margin: 30px auto;
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 11px;
  font-weight: 200;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
form > h3:before,
form > h3:after {
  position: absolute;
  width: 200px;
  top: 19px;
  height: 4px;
  background: #e4e4e4;
  content: "";
  z-index: 0;
}
form > h3:before {
  left: -190px;
}
.twit,
.google {
  width: 50%;
  display: inline-block;
  float: left;
  font-size: 0.9em;
  margin-top: 0;
  padding-top: 15px;
  padding-left: 40px;
}
.g-signin2 {
  width: 100%;
  display: inline-block;
  float: left;
  font-size: 0.9em;
  margin-top: 0;
  padding-top: 15px;
  padding-left: 40px;
}
.twit {
  background: url('https://goo.gl/wFlL6') no-repeat #00aced;
  background-position: 15px;
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}
.google {
  background: url('https://goo.gl/Mmlsm') no-repeat #dd4b39;
  background-position: 15px;
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}
.g-signin2 {
  /* background: url('https://goo.gl/Mmlsm') no-repeat #dd4b39; */
  background-position: 15px;
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}
form:after {
  content: "";
  display: table;
  clear: both;
}
::-webkit-input-placeholder {
  color: #cdcdcd;
}
::-moz-placeholder {
  color: #cdcdcd;
}